[submodule "Plugins/jquery"]
	path = Plugins/jquery
	url = https://github.com/fabianbergmark/jquery.git
[submodule "Plugins/bootstrap"]
	path = Plugins/bootstrap
	url = https://github.com/fabianbergmark/bootstrap.git
[submodule "Plugins/Source-Code-Pro"]
	path = Plugins/Source-Code-Pro
	url = https://github.com/fabianbergmark/Source-Code-Pro.git
