extends layout

block content
  div.container
    div.page-header
      center
        h1 John Galt
    br
    br
    div.row
      div.span3
        button#start.btn.btn-large.btn-block.btn-success Start
      div.span3
        button#stop.btn.btn-large.btn-block.btn-danger Stop
      div.span3
        button#attack.btn.btn-large.btn-block.btn-primary Attack
    br
    div.row
      div.span12
        div#console.well
          div.row-fluid
            div.span10
              div#text
              div.row-fluid#commandline
                div.span12
                  div.input-prepend
                    span.add-on $>
                    input(type='text')#line
            div.span2
              table#status.table
                thead
                  th Status
    div.row
      div.span2
        table#cards.table.table-hover.table-condensed
          thead
            th Cards
      div.span3
        table#rooms.table.table-hover.table-condensed
          thead
            th Rooms
      div.span3
        table#yellow.table.table-hover.table-condensed
          thead
            th Unconfirmed
      div.span3
        table#booked.table.table-hover-table-condensed
          thead
            th Booked
