extends layout

block content
  div.row-fluid
    div.span10.offset1
      h1 John Galt
  br
  div.row-fluid
    div.span1
       button#check.btn.btn-large.btn-block.btn-success Start
    div.span10
      div#console.well
  div.row-fluid
    div.span2.offset1
      table#cards.table.table-hover.table-condensed
        thead
          th Cards
    div.span3.offset1
      table#rooms.table.table-hover.table-condensed
        thead
          th Rooms
    div.span3.offset1
      table#yellow.table.table-hover.table-condensed
        thead
          th Unconfirmed
