extends layout

block content
  div.container
    div.page-header
      div#admin_dropdown.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown") Admin
        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
          li(role="presentation")
            a#user_create(href="#adminModal", role="menuitem", data-toggle="modal") Create user
            
          br
    div.row
      div.span12
        div.row-fluid
          div.span1.offset1#backward
            div.pull-left
              &#8592;
          div.span4.offset2
            center
              strong#date
          div.span1.offset2#forward
            div.pull-right
              &#8594;
        table.table.table-condensed.table-bordered#calendar
          thead
            th Rum
            th 08:00
            th 10:00
            th 12:00
            th 13:00
            th 15:00
            th 17:00
          tbody
            tr#Grp01
              td 1. Leibnitz
            tr#Grp02
              td 2.Pascal
            tr#Grp03
              td 3.Scheele
            tr#Grp04
              td 4. Leopold
            tr#Grp05
              td 5. Agricola
            tr#Grp06
              td 6. Bernoulli
            tr#Grp07
              td 7. Dürer
            tr#Grp08
              td 8. Galvani
            tr#Grp09
              td 9. Mikroskopet
            tr#Grp10
              td 10. Teleskopet
            tr#Grp11
              td 11. Watt
            tr#Grp12
              td 12. Santorio
            tr#Grp13
              td 13. N Galleriet
    div.modal.hide.fade#cloudModal(role="dialog", tabindex="-1", role="dialog", aria-hidden="true")
      div.modal-header
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true")&times;
        h3 Clouds
      div.modal-body
        ul
        form.form-horizontal
          div.control-group
            label.control-label(for="name") Name
            div.controls
              input(type="text", name="name", placeholder="Name")
      div.modal-footer
        div.btn(data-dismiss="modal", aria-hidden="true") close
    div.modal.hide.fade#adminModal(role="dialog", tabindex="-1", role="dialog", aria-hidden="true")
      div.modal-header
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true")&times;
        h3 Admin
      div.modal-body
        ul.nav.nav-tabs
          li.active
            a(href="#admin_users", data-toggle="tab") Users
          li
            a(href="#admin_cards", data-toggle="tab") Cards
        div.tab-content
          div#admin_users.tab-pane.active
            form(action="/admin/user/add", method="POST").form-horizontal
              div.control-group
                label.control-label(for="username") Username
                div.controls
                  input(type="text", name="username", placeholder="Username")
              div.control-group
                label.control-label(for="email") Email
                div.controls
                  input(type="email", name="email", placeholder="e-mail")
              div.control-group
                label.control-label(for="password") Password
                div.controls
                  input(type="password", name="password", placeholder="Password")
              div.control-group
                div.controls
                  button(type="submit").btn.btn-primary Add
          div#admin_cards.tab-pane
            form(action="/admin/card/add", method="POST").form-horizontal
              div.control-group
                label.control-label(for="owner") Owner
                div.controls
                  input(type="text", name="owner", placeholder="Owner")
              div.control-group
                label.control-label(for="number") Number
                div.controls
                  input(type="text", name="number", placeholder="Number")
              div.control-group
                div.controls
                  button(type="submit").btn.btn-primary Add
      div.modal-footer
        div.btn(data-dismiss="modal", aria-hidden="true") close
    div.modal.hide.fade#sheduleModal(role="dialog", tabindex="-1", role="dialog", aria-hidden="true")
      div.modal-header
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true")&times;
        h3 Shedule booking
      div.modal-body
        div.alert.alert-error.hide#error
          button.close(type="button")#close&times;
          strong
          p
        

      div.modal-footer
        div.btn#submit submit
        div.btn(data-dismiss="modal", aria-hidden="true")#close close
