doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    script(type='text/javascript', src='/javascripts/barrier.js')
    script(type='text/javascript', src='/javascripts/semaphore.js')
    script(type='text/javascript', src='/javascripts/shell.js')
    script(type='text/javascript', src='/javascripts/ui.js')
    script(type='text/javascript', src='/javascripts/cloud.js')
    script(type='text/javascript', src='/javascripts/kth.js')
    script(type='text/javascript', src='/javascripts/john-galt.js')
    script(type='text/javascript', src='http://use.edgefonts.net/source-code-pro.js')
  body
    block content
