doctype 5
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.js')
    script(type='text/javascript', src='/js/angular.min.js')
    script(type='text/javascript', src='/js/barrier.js')
    script(type='text/javascript', src='/js/semaphore.js')
    script(type='text/javascript', src='/js/shell.js')
    script(type='text/javascript', src='/js/ui.js')
    script(type='text/javascript', src='/js/api.js')
    script(type='text/javascript', src='/js/cloud.js')
    script(type='text/javascript', src='/js/kth.js')
    script(type='text/javascript', src='/js/john-galt.js')
  body
    block content
    script(type='text/javascript', src='/js/source-code-pro.js')
