doctype 5
html
  head
    title John Galt
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/kth.js')
    script(type='text/javascript', src='http://use.edgefonts.net/source-code-pro.js')
  body
    block content
