body
  -webkit-user-select: none 
  -moz-user-select   : none  
  -ms-user-select    : none
  user-select        : none

#cloud
  float: right
  width: 38px
  height: 26px
  position: relative
  background: url("/img/cloud.png")

#cloud p
  position: absolute
  font: 14px "Source-Code-Pro"
  left: 15px
  bottom: 1px
  margin: 0
  color: white
  font-size: 1.2em

#console
  font            : 14px "Source-Code-Pro"
  color           : #839496
  position        : relative
  min-height      : 308px
  font-weight     : bold
  background-color: #002b36

#console #text p
  margin-bottom: 2px

#console #commandline
  float   : bottom
  bottom  : 20px
  position: absolute

#console #commandline input
  width           : 77%
  border          : none
  box-shadow      : none
  font-weight     : bold
  color           : white
  margin-left     : 10px
  background-color: #002b36;
  font            : 14px "Source-Code-Pro"

#calendar .room
  background-color: #D9EDF7

#calendar .available
  cursor: pointer
  background-color: #DFF0D8

#calendar .unconfirmed
  cursor: pointer
  background-color: #FCF8E3

#calendar .booked
  cursor: pointer
  background-color: #F2DEDE

.check
  color: black
  text-decoration: none

.check:hover
  color : green
  cursor: pointer
  text-decoration: none

.cross
  color: black
  text-decoration: none

.cross:hover
  color : red
  cursor: pointer
  text-decoration: none

