body
  -webkit-user-select: none 
  -moz-user-select   : none  
  -ms-user-select    : none
  user-select        : none

#console
  font            : 14px "Source-Code-Pro"
  color           : #839496
  position        : relative
  min-height      : 308px
  font-weight     : bold
  background-color: #002b36

#console #text p
  margin-bottom: 2px

#console #commandline
  float   : bottom
  bottom  : 20px
  position: absolute

#console #commandline input
  width           : 77%
  border          : none
  box-shadow      : none
  font-weight     : bold
  color           : white
  margin-left     : 10px
  background-color: #002b36;
  font            : 14px "Source-Code-Pro"
  
.check:hover
  color : green
  cursor: pointer

.cross:hover
  color : red
  cursor: pointer
