body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#console {
  background-color: #002b36;
  font-weight: bold;
  color: #cb4b16;
  min-height: 300px;
}
