#console {
  background-color: #002b36;
  font-weight: bold;
  color: #cb4b16;
  min-height: 308px;
  font: 14px "Source-Code-Pro";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check:hover {
  color: #008000;
  cursor: pointer;
}
